output/intermediate/
output/architectures/
output/architectures_censored/
output/architectures*/
src/old/
output/test_data/
output/mcmc_samples/
output/mcmc_summary/
output/npe_samples/
output/npe_summary/
output/intercept_estimates/
slurm_output/
output/speed_comparisons/
output/intercept_estimate_comparison.csv
paper_submission/
docs/
output/mcmc_diagnostics/
output/irls_samples/
output/irls_summary/
output/irls_diagnostics/
output/is_summary/
output/reference_validation/comparison/
