output/intermediate/
output/architectures/
output/architectures_censored/
output/architectures*/
output/models/
output/models*/
output/models_*/
src/old/
output/test_data/
output/mcmc_samples/
output/mcmc_summary/
output/npe_samples/
output/npe_summary/
output/intercept_estimates/
slurm_output/
output/speed_comparisons/
output/intercept_estimate_comparison.csv